body {
  background: #FDFDFD;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: hidden;
}
@media (max-width: 700px) {
  body {
    overflow-y: visible;
  }
}

main {
  margin: 0 max(5.2083vw, 50px);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  main {
    margin: 0 max(3.33vw, 10px);
  }
}
@media (max-width: 700px) {
  main {
    justify-content: center;
    grid-template-columns: auto;
  }
}
main header {
  width: 350px;
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1500px) {
  main header {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  main header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 700px) {
  main header {
    display: flex;
    gap: 20px;
    margin: 40px 0 0 10px;
  }
}
main header .nav-block {
  display: flex;
  height: auto;
  gap: 20px;
  align-items: center;
}
@media (max-width: 700px) {
  main header .nav-block {
    gap: 10px;
  }
}
main header .nav-block .vertical-line {
  background-color: #353535;
  width: 1px;
  height: 90px;
}
@media (max-width: 1500px) {
  main header .nav-block .vertical-line {
    background-color: #353535;
    width: 1px;
    height: 60px;
  }
}
main header .nav-block .burger-block {
  padding: 6px;
  width: 50px;
  height: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 1000px) {
  main header .nav-block .burger-block {
    display: flex;
  }
}
main header .nav-block .burger-block .line {
  height: 1px;
  background-color: #353535;
  transition: all 0.5s ease-out;
}
main header .nav-block .burger-block .line:nth-child(1) {
  width: 25px;
  transition: all 0.5s ease-out;
}
main header .nav-block .burger-block .line:nth-child(1).active {
  z-index: 5;
  position: absolute;
  width: 45px;
  margin: 2.5px;
  transform: rotate(-45deg);
  background-color: white;
}
main header .nav-block .burger-block .line:nth-child(2) {
  width: 40px;
}
main header .nav-block .burger-block .line:nth-child(2).active {
  width: 0;
}
main header .nav-block .burger-block .line:nth-child(3) {
  width: 50px;
}
main header .nav-block .burger-block .line:nth-child(3).active {
  z-index: 5;
  position: absolute;
  width: 50px;
  width: 45px;
  margin: 2.5px;
  transform: rotate(45deg);
  background-color: #73A9AD;
}
main header .nav-block .burger-block .circle {
  transition: all 0.5s ease-out;
  margin: -20px 0 0 40px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #73A9AD;
}
main header .nav-block .burger-block .circle.active {
  position: absolute;
  margin: 0;
  width: 50px;
  border-radius: 5px;
  height: 50px;
  background-color: #3D3D3D;
}
main header .nav-block nav {
  display: flex;
  background: #3D3D3D;
  border-radius: 5px;
  padding: 6px;
  width: 200px;
  margin: 0;
  height: 42px;
  transition: all 0.5s ease-out;
}
@media (max-width: 1500px) {
  main header .nav-block nav {
    position: absolute;
    margin-left: 20px;
  }
}
@media (max-width: 1000px) {
  main header .nav-block nav {
    position: absolute;
    margin-left: 100px;
    opacity: 0;
    z-index: 0;
    transform: translateX(-15px);
  }
}
@media (max-width: 700px) {
  main header .nav-block nav {
    margin-left: 80px;
  }
}
main header .nav-block nav.active {
  transform: translateX(0);
  opacity: 1;
  z-index: 10;
}
main header .nav-block nav ul {
  z-index: 10;
  padding: 0;
  width: 200px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
main header .nav-block nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
main header .nav-block nav ul li a {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main header .nav-block nav div {
  width: 42px;
  height: 42px;
  background: #73A9AD;
  border-radius: 5px;
  position: absolute;
  z-index: 0;
  transform: translateX(0);
}
main header .header-img {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
main header .header-img .vertical-line {
  background-color: #353535;
  width: 1px;
  height: 260px;
}
main header .header-img .image-block {
  width: 210px;
  height: 210px;
  background: url(../Images/meniu-capi-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
main header p {
  color: #353535;
  font-size: 15px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 0;
  margin: 0;
}
main header .pass-question-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
main header .pass-question-block .vertical-line {
  background-color: #353535;
  width: 1px;
  height: 40px;
}
main header .pass-question-block .pass-question-level {
  height: 30px;
  width: 0;
  border-radius: 5px;
  background-color: #73A9AD;
  transition: all 0.5s ease-out;
}
main header .pass-question-block span {
  color: #353535;
  font-size: 15px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
}
main header .remain-question-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
main header .remain-question-block .vertical-line {
  background-color: #353535;
  width: 1px;
  height: 40px;
}
main header .remain-question-block .remain-question-level {
  height: 30px;
  width: 0;
  border-radius: 5px;
  background-color: #395B64;
  transition: all 0.5s ease-out;
}
main header .remain-question-block span {
  color: #353535;
  font-size: 15px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
}
main .main-quiz {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100vh;
  padding: 0 5px;
}
@media (max-width: 700px) {
  main .main-quiz {
    overflow-y: hidden;
    margin-top: 50px;
  }
}
main .main-quiz::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  transform: translateX(-20px);
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
main .main-quiz::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  transform: translateY(90vh) translateX(-20px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
main .main-quiz .all-quiz-blocks {
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: all 0.5s ease-out;
}
main .main-quiz .all-quiz-blocks .quiz-block {
  opacity: 0.3;
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  align-items: center;
  transition: all 0.5s ease-out;
}
@media (max-width: 1500px) {
  main .main-quiz .all-quiz-blocks .quiz-block {
    width: max(29.33vw, 350px);
  }
}
@media (max-width: 500px) {
  main .main-quiz .all-quiz-blocks .quiz-block {
    width: max(70vw, 250px);
  }
}
main .main-quiz .all-quiz-blocks .quiz-block.active {
  opacity: 1;
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-question {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 94.4%;
  color: #395B64;
  text-align: center;
}
@media (max-width: 1000px) {
  main .main-quiz .all-quiz-blocks .quiz-block .quiz-question {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 94.4%;
    color: #395B64;
  }
}
@media (max-width: 700px) {
  main .main-quiz .all-quiz-blocks .quiz-block .quiz-question {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 94.4%;
    color: #395B64;
  }
}
@media (max-width: 500px) {
  main .main-quiz .all-quiz-blocks .quiz-block .quiz-question {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 94.4%;
    color: #395B64;
  }
}
main .main-quiz .all-quiz-blocks .quiz-block .orizontal-line {
  background-color: #353535;
  width: 220px;
  height: 1px;
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #353535;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s ease-out;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant.active {
  border: 1px solid #73A9AD;
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant.active .quiz-variant-text {
  color: #73A9AD;
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant.active .quiz-variant-circel {
  background-color: #73A9AD;
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant:hover {
  border: 1px solid #73A9AD;
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant:hover .quiz-variant-text {
  color: #73A9AD;
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant:hover .quiz-variant-circel {
  background-color: #73A9AD;
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant .quiz-variant-text {
  color: #353535;
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.5s ease-out;
}
@media (max-width: 1000px) {
  main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant .quiz-variant-text {
    color: #353535;
    font-size: 14px;
    line-height: 150%;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
}
@media (max-width: 700px) {
  main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant .quiz-variant-text {
    color: #353535;
    font-size: 12px;
    line-height: 150%;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
}
main .main-quiz .all-quiz-blocks .quiz-block .quiz-variant .quiz-variant-circel {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline-style: solid;
  outline-color: #353535;
  outline-offset: 3px;
  outline-width: 1px;
  flex-shrink: 0;
  transition: all 0.5s ease-out;
  background-color: rgba(0, 0, 0, 0);
}
main .main-quiz .arrow-buttons {
  transform: translateY(25vh);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .main-quiz .arrow-buttons .vertical-line:nth-child(1) {
  z-index: 100;
  background-color: #353535;
  width: 1px;
  height: 100px;
  width: 1px;
  background-color: #73A9AD;
  cursor: pointer;
}
main .main-quiz .arrow-buttons .vertical-line:nth-child(1) span {
  color: #353535;
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #73A9AD;
  position: absolute;
  z-index: 100;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: -40px;
  top: 30px;
  padding: 5px;
  transform: rotate(90deg);
}
main .main-quiz .arrow-buttons .vertical-line:nth-child(1)::after {
  margin-top: 0;
  position: absolute;
  margin-left: -1px;
  content: "";
  transform: rotate(45deg);
  width: 7px;
  height: 1px;
  background-color: #73A9AD;
}
main .main-quiz .arrow-buttons .vertical-line:nth-child(1)::before {
  margin-top: 0;
  margin-left: -5px;
  position: absolute;
  content: "";
  transform: rotate(-45deg);
  width: 7px;
  height: 1px;
  background-color: #73A9AD;
}
main .main-quiz .arrow-buttons .vertical-line:nth-child(2) {
  z-index: 100;
  background-color: #353535;
  width: 1px;
  height: 120px;
  cursor: pointer;
}
main .main-quiz .arrow-buttons .vertical-line:nth-child(2) span {
  color: #353535;
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  position: absolute;
  z-index: 100;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: -40px;
  top: 160px;
  padding: 5px;
  transform: rotate(90deg);
}
main .main-quiz .arrow-buttons .vertical-line:nth-child(2)::after {
  margin-top: 119px;
  position: absolute;
  margin-left: -1px;
  content: "";
  transform: rotate(-45deg);
  width: 7px;
  height: 1px;
  background-color: #353535;
}
main .main-quiz .arrow-buttons .vertical-line:nth-child(2)::before {
  margin-top: 119px;
  margin-left: -5px;
  position: absolute;
  content: "";
  transform: rotate(45deg);
  width: 7px;
  height: 1px;
  background-color: #353535;
}
main .motion-figure {
  width: 400px;
  height: 100vh;
}
@media (max-width: 1500px) {
  main .motion-figure {
    width: max(26.66vw, 300px);
  }
}
@media (max-width: 1000px) {
  main .motion-figure {
    display: none;
  }
}
main .motion-figure .figure-images {
  position: absolute;
  z-index: -1;
  background-image: url(../Images/figure-image-motion.png);
  width: 945px;
  height: 913px;
  transform: rotate(0deg);
  transition: all 0.5s ease-out;
}
@media (max-width: 1500px) {
  main .motion-figure .figure-images {
    width: 945px;
    height: 913px;
  }
}

.modal-block {
  width: 100%;
  height: 102vh;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.modal-block .modal-meniu {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu {
    gap: 10px;
  }
}
@media (max-width: 700px) {
  .modal-block .modal-meniu {
    flex-direction: column;
  }
}
.modal-block .modal-meniu .capi-img-block {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #353535;
  border-radius: 5px;
  background-image: url(../Images/modal-backround.png);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-img-block {
    padding: max(2vw, 10px);
  }
}
.modal-block .modal-meniu .capi-img-block .img-block {
  width: 470px;
  height: 470px;
}
@media (max-width: 1500px) {
  .modal-block .modal-meniu .capi-img-block .img-block {
    width: 400px;
    hight: 400px;
  }
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-img-block .img-block {
    width: max(40vw, 300px);
    height: max(40vw, 450px);
  }
}
@media (max-width: 700px) {
  .modal-block .modal-meniu .capi-img-block .img-block {
    width: max(50vw, 250px);
    height: max(50vw, 250px);
  }
}
.modal-block .modal-meniu .capi-img-block .orizontal-line {
  background-color: #353535;
  width: 400px;
  height: 1px;
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-img-block .orizontal-line {
    background-color: #353535;
    width: 300px;
    height: 1px;
  }
}
.modal-block .modal-meniu .capi-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-info {
    gap: 10px;
  }
}
.modal-block .modal-meniu .capi-info .capi-name-points {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.modal-block .modal-meniu .capi-info .capi-name-points .capi-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #ffffff;
  border: 1px solid #353535;
  border-radius: 5px;
  padding: 20px;
}
.modal-block .modal-meniu .capi-info .capi-name-points .capi-name p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 94.4%;
  color: #395B64;
  font-weight: 800;
}
@media (max-width: 1500px) {
  .modal-block .modal-meniu .capi-info .capi-name-points .capi-name p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: max(2.26vw, 30px);
    line-height: 94.4%;
    color: #395B64;
    font-weight: 800;
  }
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-info .capi-name-points .capi-name p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: max(3vw, 20px);
    line-height: 94.4%;
    color: #395B64;
    font-weight: 800;
  }
}
@media (max-width: 700px) {
  .modal-block .modal-meniu .capi-info .capi-name-points .capi-name p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: max(4vw, 18px);
    line-height: 94.4%;
    color: #395B64;
    font-weight: 800;
  }
}
.modal-block .modal-meniu .capi-info .capi-name-points .capi-name .orizontal-line {
  background-color: #353535;
  width: 280px;
  height: 1px;
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-info .capi-name-points .capi-name .orizontal-line {
    background-color: #353535;
    width: 180px;
    height: 1px;
  }
}
@media (max-width: 700px) {
  .modal-block .modal-meniu .capi-info .capi-name-points .capi-name .orizontal-line {
    background-color: #353535;
    width: 150px;
    height: 1px;
  }
}
.modal-block .modal-meniu .capi-info .capi-name-points .capi-points {
  background-image: url(../Images/img-ponts.svg);
  background-size: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
}
.modal-block .modal-meniu .capi-info .capi-name-points .capi-points p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 94.4%;
  color: #395B64;
  font-weight: 800;
  color: white;
}
@media (max-width: 1500px) {
  .modal-block .modal-meniu .capi-info .capi-name-points .capi-points {
    width: max(9.33vw, 110px);
    height: max(9.33vw, 110px);
    color: white;
  }
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-info .capi-name-points .capi-points {
    width: max(11vw, 90px);
    height: max(11vw, 90px);
    color: white;
  }
}
@media (max-width: 700px) {
  .modal-block .modal-meniu .capi-info .capi-name-points .capi-points {
    width: max(17vw, 90px);
    height: max(17vw, 90px);
  }
}
.modal-block .modal-meniu .capi-info .capi-info-more {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #ffffff;
  border: 1px solid #353535;
  border-radius: 5px;
  padding: 20px;
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-info .capi-info-more {
    padding: max(2vw, 10px);
  }
}
.modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) {
  display: flex;
  gap: 20px;
  align-items: center;
}
.modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) span {
  flex-direction: column;
  display: flex;
  gap: 0;
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) p:nth-child(1) {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 470px;
  height: 190px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #353535;
  font-size: 18px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
}
@media (max-width: 1500px) {
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) p:nth-child(1) {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) p:nth-child(1) {
    width: max(40vw, 250px);
    color: #353535;
    font-size: max(1.8vw, 14px);
    line-height: 150%;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
}
@media (max-width: 700px) {
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) p:nth-child(1) {
    width: max(50vw, 250px);
  }
}
.modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) p:nth-child(2) {
  width: 470px;
  margin: 0;
  height: 0;
  color: #353535;
  font-size: 24px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 20%;
}
@media (max-width: 1500px) {
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) p:nth-child(2) {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) p:nth-child(2) {
    width: max(40vw, 300px);
  }
}
@media (max-width: 700px) {
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) p:nth-child(2) {
    width: max(50vw, 250px);
  }
}
.modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(1) .vertical-line {
  background-color: #353535;
  width: 1px;
  height: 234px;
}
.modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(2) {
  display: flex;
  gap: 20px;
  align-items: center;
}
.modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(2) .vertical-line {
  background-color: #353535;
  width: 1px;
  height: 90px;
}
.modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(2) a {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 500;
  line-height: 150%;
  font-style: normal;
  background-color: #73A9AD;
  border-radius: 5px;
  padding: 15px 80px;
  outline-style: solid;
  border: none;
  outline-color: #353535;
  outline-offset: 3px;
  outline-width: 1px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  border: solid 1px #73A9AD;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(2) a:hover {
  outline-color: #73A9AD;
  border: solid 1px #3D3D3D;
  background-color: rgba(0, 0, 0, 0);
  color: #73A9AD;
}
@media (max-width: 1000px) {
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(2) a {
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 500;
    line-height: 150%;
    font-style: normal;
    background-color: #73A9AD;
    border-radius: 5px;
    padding: 10px 60px;
    outline-style: solid;
    border: none;
    outline-color: #353535;
    outline-offset: 3px;
    outline-width: 1px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    border: solid 1px #73A9AD;
  }
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(2) a:hover {
    outline-color: #73A9AD;
    border: solid 1px #3D3D3D;
    background-color: rgba(0, 0, 0, 0);
    color: #73A9AD;
  }
}
@media (max-width: 700px) {
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(2) a {
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 500;
    line-height: 150%;
    font-style: normal;
    background-color: #73A9AD;
    border-radius: 5px;
    padding: 10px 40px;
    outline-style: solid;
    border: none;
    outline-color: #353535;
    outline-offset: 3px;
    outline-width: 1px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    border: solid 1px #73A9AD;
  }
  .modal-block .modal-meniu .capi-info .capi-info-more span:nth-child(2) a:hover {
    outline-color: #73A9AD;
    border: solid 1px #3D3D3D;
    background-color: rgba(0, 0, 0, 0);
    color: #73A9AD;
  }
}/*# sourceMappingURL=Quiz-page.css.map */