$green-color: #73A9AD;
$text-color: #353535;
$iner-font:'Inter', sans-serif;
$montsserat-font:'Montserrat', sans-serif;
$icon-color:#767676;
$line-color:#353535;
$block-color:#3D3D3D;
$backround-color:#FDFDFD;
$bold-text-color:#395B64;